---
layout: page
---

<div class="content">
The National Reading Movement would like to thank organisations for their support and participation.
<p>

	{%- assign nrm-partners = site.data.nrm-partners -%}
	<div id="partner-structure">
	{%- for partner-type in nrm-partners.partner-structure -%}
		<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">
			<div class="col is-expanded is-fullwidth is-paddingless">
				<h5 class="has-text-grey-dark is-marginless"><b> {{- partner-type.title -}}</b></h5>
			</div>
			<span class="sgds-icon sgds-icon-plus is-size-4 bp-accordion-button"></span>
		</div>
		<div id="accordion-body-{{forloop.index0}}" class="col padding bp-accordion-body">
			<div class="bp-container is-full padding--top--lg padding--bottom" style="width: 100%">
        		<div class="row is-multiline">
					{%- for partner in partner-type.partners -%}
					    <div class="col is-4 padding--right--xl padding--bottom">
							<div class="margin--top--none">
								{%- if partner.link -%}<a href="{{- site.baseurl -}}{{- partner.link -}}">{%- endif -%}{{- partner.name -}}{%- if partner.link -%}</a>{%- endif -%}
								</div>
						</div>
					{%- endfor -%}
				</div>
			</div>
		</div>
	{%- endfor -%}
	{{- content -}}
	</div>
</div>