---
layout: leftnav-page
---

<div class="col padding--bottom--xl">
	<span class="bp-sec-button has-text-centered">
		<a class="is-uppercase media-category-button selected" id="organisations-that-supported-read-for-books-read-fest-and-national-reading-day-button"><b>Organisations that supported Read for Books, Read! Fest and National Reading Day</b></a>
		<a class="is-uppercase media-category-button" id="organisations-that-pledge-to-read-button"><b>Organisations that pledge to read</b></a>
	</span>
</div>

{%- assign our-partners = site.data.our-partners -%}

<div class="content">
	<div class="row is-multiline padding--bottom--lg" id="organisations-that-supported-read-for-books-read-fest-and-national-reading-day">
		{%- for director in our-partners.organisations-that-supported-read-for-books-read-fest-and-national-reading-day -%}
			<div class="col is-half person-info-card padding--right">
				<div class="row margin--bottom--xs margin--right">
					<div class="col is-one-third image-col">
						{%- if partner.image-url -%}
						<img class="margin--right--none" src="{{- site.baseurl -}}{{- partner.image-url -}}">
						{%- endif -%}
					</div>
				<div class="col padding--top padding--bottom bg-table-grey">
					<p class="is-marginless padding--top--sm">
						<b>{{- partner.name -}}</b><br>
					</p>
				</div>
			</div>
		{%- endfor -%}
	</div>
	
</div>