---
layout: page
---

{{- content -}}

{%- assign nrm-professional = site.data.nrm-professional -%}
<div class="content">
	<div class="acc-kontainer">
		{%- for partner-type in nrm-partners.profesional-structure -%}
		<div>
			<input type="radio" name="acc" id="acc{{forloop.index}}">
			<label for="acc{{forloop.index}}"><i></i> {{- professional-type.title -}} </label>
			<div class="acc-body">
				<div class="row is-multiline">
					{%- for professional in professional-type.professional -%}
					<div class="col is-4 padding--right--xl padding--bottom">
						<div class="margin--top--none">
							{{- professional.name -}}
						</div>
					</div>
					{%- endfor -%}
				</div>
			</div>
		</div>
		{%- endfor -%}
	</div>
</div> 
